homepage:
    pattern:  /
    defaults: 
        _controller: MainBundle:Default:index

product_list:
    pattern: /products.{_format}
    defaults:
        _controller: MainBundle:Default:list
        _format: html
    requirements:
        _format: html|json

product_new:
    pattern: /product/new
    defaults:
        _controller: MainBundle:Default:createProduct

product_create:
    pattern: /product/new
    defaults:
        _controller: MainBundle:Default:createProduct
    requirements:
        method: post

product_show:
    pattern: /products/{product_slug}
    defaults:
        _controller: MainBundle:Default:show

# category_show:
#     pattern: /category/{category_name}
#     default:
#         _controller: MainBundle:Default:category
