homepage:
    pattern:  /{name}
    defaults: 
        _controller: MainBundle:Default:index
        name: John
    requirements:
        name: Bob
        
product_list:
    pattern: /products
    defaults:
        _controller: MainBundle:Default:list
